In [1]:
import pandas as pd

In [2]:
import numpy as np

In [6]:
data=np.random.randn(4,3) #rastgele değerlerden olluşan 4*3 lük numpy matrisi

In [7]:
data

array([[ 0.37051328,  0.33515127, -0.45759666],
       [-0.04638143,  0.63335384, -0.33634163],
       [ 0.45006561, -0.72388921, -1.33883921],
       [ 0.1208966 , -0.0837397 ,  1.04304633]])

In [10]:
dataFrame=pd.DataFrame(data)

In [12]:
dataFrame

          0         1         2
0  0.370513  0.335151 -0.457597
1 -0.046381  0.633354 -0.336342
2  0.450066 -0.723889 -1.338839
3  0.120897 -0.083740  1.043046

In [14]:
dataFrame[0]  # ilk stunu aldık

0    0.370513
1   -0.046381
2    0.450066
3    0.120897
Name: 0, dtype: float64

In [15]:
type(dataFrame[0] )

pandas.core.series.Series

In [19]:
yeniDataframe=pd.DataFrame(data,index=["Atil","Zeynep","Atlas","Mehmet"],columns=["Maas","Yas","Calisma Saati"]) #data stun satırları isimlendirdik

In [20]:
yeniDataframe

            Maas       Yas  Calisma Saati
Atil    0.370513  0.335151      -0.457597
Zeynep -0.046381  0.633354      -0.336342
Atlas   0.450066 -0.723889      -1.338839
Mehmet  0.120897 -0.083740       1.043046

### KOLON SEÇME

In [22]:
yeniDataframe["Calisma Saati"] #istenen kolonu getirme

Atil     -0.457597
Zeynep   -0.336342
Atlas    -1.338839
Mehmet    1.043046
Name: Calisma Saati, dtype: float64

In [26]:
yeniDataframe[["Maas","Yas","Calisma Saati"]]

            Maas       Yas  Calisma Saati
Atil    0.370513  0.335151      -0.457597
Zeynep -0.046381  0.633354      -0.336342
Atlas   0.450066 -0.723889      -1.338839
Mehmet  0.120897 -0.083740       1.043046

### SATIR SEÇME

In [28]:
yeniDataframe.loc["Atil"]

Maas             0.370513
Yas              0.335151
Calisma Saati   -0.457597
Name: Atil, dtype: float64

In [31]:
yeniDataframe.iloc[2] # index bzalı satır getirme

Maas             0.450066
Yas             -0.723889
Calisma Saati   -1.338839
Name: Atlas, dtype: float64